body {
    --pb-splash-image: url(../images/trabi.jpg);
    --pb-splash-image-size: 640px;
    --pb-content-font-family: var(--pb-base-font-family);
    --pb-content-font-size: 16px;
    --pb-header-background-image: url('../images/bg-header.jpg');
    --pb-menubar-background-color: rgba(0, 0, 0, 0.4);
    --pb-toolbar-color: var(--pb-color-inverse);
    --pb-toolbar-background-color: rgba(20, 20, 20, 0.7);
    --pb-popover-theme: "light";
    --pb-popover-font-size: 16px;
    --pb-popover-max-width: 480px;
    --pb-popover-max-height: 33vh;
    --pb-popover-placement: "bottom";
    --pb-popover-fallback-placement: "top right left";
    --pb-view-max-width: auto;
}

.menubar .logo img {
    width: auto;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 68px;
    background-image: url('../images/bg-header.jpg');
}

footer div {
    color: white;
    padding: 12px 20px;
    background: rgba(80, 80, 80, 0.6);
}

footer div a {
    color: white;
}